Lab2/obj/Debug/net6.0/Lab2.assets.cache
Lab2/obj/Debug/net6.0/Lab2.assets.cache
Lab2/obj/Debug/net6.0/Lab2.assets.cache
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.assets.cache
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
